{% extends "base.html" %}
{% load static %}
{% block body %}
<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="content" class="site-content" role="main">
				<section class="section m-b-0">
					<!-- Block Parallax -->
					<div class="block block-parallax bg-img-1 bg-top-center">
						<div class="section-container">
							<div class="row">
								<div class="col-md-6">
									<div class="content">
										<h2 class="title">Summer<br>Collections</h2>
										<div class="description">Illuminate your ensemble with the radiant allure of designer dresses .</div>
										<a class="button button-white button-outline thick-border button-arrow animation-horizontal" href="shop-grid-left.html">Explore All</a>
									</div>
								</div>
								<div class="col-md-6">
								</div>
							</div>
						</div>
						<div class="go-to-section">
							<div class="go-to-button">
								<a class="scroll-button" href="#section-2">Scroll Down</a>
							</div>
							<div class="go-to-text">
								<a class="scroll-button" href="#section-2">Scroll Down</a>
							</div>
						</div>
					</div>
				</section>

				<section class="section m-b-0" id="section-2">
					<!-- Block Parallax -->
					<div class="block block-parallax bg-img-2 right-text">
						<div class="section-container">
							<div class="row">
								<div class="col-md-6">
								</div>
								<div class="col-md-6">
									<div class="content">
										<h2 class="title">Crafted Color<br>Perfection</h2>
										<div class="description">Discover the key to completing your outfit in style.</div>
										<a class="button button-white button-outline thick-border button-arrow animation-horizontal" href="shop-grid-left.html">Explore All</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section m-b-0">
					<!-- Block Parallax -->
					<div class="block block-parallax bg-img-3 bg-top-center">
						<div class="section-container">
							<div class="row">
								<div class="col-md-6">
									<div class="content">
										<h2 class="title">Indulge in<br>Luxury</h2>
										<div class="description">Unveil Your Elegance with Our Designer Dress Collection!</div>
										<a class="button button-white button-outline thick-border button-arrow animation-horizontal" href="shop-grid-left.html">Explore All</a>
									</div>
								</div>
								<div class="col-md-6">
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section m-b-0">
					<!-- Block Parallax -->
					<div class="block block-parallax bg-img-4 right-text">
						<div class="section-container">
							<div class="row">
								<div class="col-md-6">
								</div>
								<div class="col-md-6">
									<div class="content">
										<h2 class="title">Define Your<br>Style</h2>
										<div class="description">Embrace Confidence in Our Exclusive Collection!</div>
										<a class="button button-white button-outline thick-border button-arrow animation-horizontal" href="shop-grid-left.html">Explore All</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main-content -->
</div>
{% endblock body %}